@media (max-width:500px){
    .nav-bar {
        background-color: black;
        margin: -8px;
    }
    .logo {
        width: 130px;
        padding-left: 8px;
    }
    .nav-bar .bar {
        background-color: white;
        width: 30px;
        height: 3px;
    }
    li {
        list-style: none;
    }
    .nav-link {
        color: white;
        text-decoration: none;
    }
    .nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    .nav-link:hover {
        color: red;
    }
    .hamburger-menu {
        display: none;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
    .hamburger-menu {
        display: block;
    }
    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu {
        position: fixed;
        left: -6000px;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: -32px;
    }
    .header {
        background-color: black;
        margin: -8px;
        height: 100vh;
    
    }
    .header .tshirt{
        margin-top: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .header .headline {
        position: absolute;
        top: 42%;
        left: 15px;
        color: red;
        font-family: "Antonio", sans-serif;
        font-size: 60px;
        text-align: center;
    }
    .header .sub-headline {
        position: absolute;
        color: red;
        top: 52%;
        left: 45px;
        right: 45px;
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-size: 38px;
    }
    header .contact {
        background-color: white;
        border: none;
        color: red;
        text-align: center;
        display: inline-block;
        padding: 10px 24px; 
        border-radius: 16px;
        font-size: 20px;
        transition-duration: 0.6s;
        margin-left: 175px;
        margin-top: 20%;
    }
    .contact:hover {
        background-color: red;
        color: white;
    }
    .about-us-heading {
        margin-left: 35px;
        font-family: "Roboto Mono", monospace;
        font-size: 30px;
        margin-top: 40px;
    }
    .about-us-info {
        margin-left: 35px;
        margin-right: 35px;
        font-size: 23px;
        font-family: "Antonio", sans-serif;
        font-stretch: extra-expanded;
    }
    .shop-now-btn {
        background-color: red;
        border: none;
        color: white;
        text-align: center;
        display: inline-block;
        padding: 9px 23px; 
        border-radius: 16px;
        font-size: 21px;
        transition-duration: 0.6s;
        margin-left: 35px;
        margin-top: 30px;
    }
    .shop-now-btn:hover{
        background-color: black;
        color: white;
    }
    .tee-display {
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 80px;
    }
    .web-details {
        /* padding-top: 35px; */
        background-color: black;
        color: white;
        margin: -8px;
    }
    .web-details h4 {
        margin-left: 35px;
        padding-top: 40px;
        font-size: 25px;
    
    }
    .web-details a {
        margin-left: 35px;
        font-size: 24px;
        text-decoration: none;
        color: red;
        
    }
    .web-details h3 {
        padding-top: 1px;
        margin-left: 35px;
        font-size: 28px;
    }
    .web-details .follow-us {
        margin-left: 75%;
    }
    .insta-link {
        width: 6%;
        margin-left: 375px;
    }
    .foot-logo {
        margin-left: 70px;
        width: 300px;
    }
    hr{
        width: 80%;
    }
    .made-with {
        font-size: 25px;
        color: red;
        margin-left: 175px;
    }
    .credit {
        font-size: 22px;
        color: red;
        margin-left: 175px;
    }
    
}